{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-svelte"],
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.svelte",
       "options": {
        "parser": "svelte"
      }
    }
  ],
  "semi": false,
  "singleQuote": true,
  "space-before-function-paren": true
}